<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    {% for table in tables %}
        <table>
            <thead>
                <tr>
                    {% for title in titles %}
                        <th>{{ title }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {{ table|safe }}
            </tbody>
        </table>
    {% endfor %}
</body>
</html>